<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <title>Live Soccer</title>
  </head>
  <body>
    <h1 class="text-center">Live Soccer</h1>
    <div class="card-deck" style="width: 80%; margin: auto; margin-top: 20px;">
      <div class="card text-center">
        <img src="/images/seriea.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Serie A</h5>
          <p class="card-text">Italia</p>
          <a class="btn btn-primary" href="/SA" role="button">Serie A</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/premier.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Premier League</h5>
          <p class="card-text">Inghilterra</p>
          <a class="btn btn-primary" href="/PL" role="button">Premier League</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/bundesliga.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bundesliga 1</h5>
          <p class="card-text">Germania</p>
          <a class="btn btn-primary" href="/BL1" role="button">Bundesliga 1</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/laliga.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">La Liga</h5>
          <p class="card-text">Spagna</p>
          <a class="btn btn-primary" href="/PD" role="button">La Liga</a>
        </div>
      </div>
    </div>
    <div class="card-deck text-center" style="width: 80%; margin: auto; margin-top: 20px; margin-bottom: 20px;">
      <div class="card">
        <img src="/images/primeiraliga.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Primeira Liga</h5>
          <p class="card-text">Portogallo</p>
          <a class="btn btn-primary" href="/PPL" role="button">Primeira Liga</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/eredivisie.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Eredivisie</h5>
          <p class="card-text">Olanda</p>
          <a class="btn btn-primary" href="/DED" role="button">Eredivisie</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/ligue1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ligue 1</h5>
          <p class="card-text">Francia</p>
          <a class="btn btn-primary" href="/FL1" role="button">Ligue 1</a>
        </div>
      </div>
      <div class="card text-center">
        <img src="/images/championship.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Championship</h5>
          <p class="card-text">Inghilterra</p>
          <a class="btn btn-primary" href="/ELC" role="button">Championship</a>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>